*{
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: #f2f4f2;
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: rgb(8, 69, 130)
    padding: 10px;
    flex: 50%;
  }
  @media(max.width: 800px){
    .flex-container{
      flex-direction: column;
    }
  }
    